body {
  display: flex;
  flex-direction: column;
}
.block-1 {
  display: flex;

  width: 100%;
  height: 550px;

  position: relative;
}
.landing {
  width: 100%;
  height: 550px;
}
.cover {
  position: absolute;
  width: 100%;
  height: 550px;
  display: flex;
}
.small-lines {
  display: flex;
  flex-direction: column;
  height: 8%;
  width: 3%;

  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;
}
.one-line {
  border: 2px solid white;
}

.logo {
  position: absolute;
  top: 15%;
  left: 40%;
}
.provide {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 75%;
  left: 35%;
  width: 35%;
}
.provide p {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 5px;
}
.block-2 {
  position: relative;
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
}
.block-left {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hour {
  width: 100%;
  height: 50%;
  background-color: #e4e5e7;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hour h2 {
  text-transform: capitalize;
}
.time {
  width: 100%;
  height: 50%;
  background-color: #f15b29;
  align-items: center;
  display: flex;
  justify-content: center;
}

.time h2 {
  text-transform: capitalize;
  color: white;
}
.breakfast {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
}
.break {
  width: 100%;
  height: 100%;
}
.overly-1 {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.overly-1 h2 {
  color: white;
  text-transform: capitalize;
}
.lunch {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
}
.overly {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #cec7c58e;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.overly h2 {
  color: white;
  text-transform: capitalize;
}
.dinner {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
}
.overly-2 {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.overly-2 h2 {
  color: white;
  text-transform: capitalize;
}

.block-3 {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  background-color: white;
  flex-direction: row;
  
}
.left {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 10px solid white;
  width: 25%;
  height: 60%;
  left: 20%;
  top: 20%;
  box-shadow: 5px 5px 10px 3px whitesmoke;
}
.image1 {
  background-image: url("fastFood1.jpg");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  background-image: url("fastFood2.jpg");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right {
  background-color: white;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
}
.right h1 {
  text-align: left;
  text-transform: capitalize;
}
.arrow {
  position: absolute;
  width: 50%;
  height: 10%;

  border: 1px solid #fac4b2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #fac4b2;
}

.arrow h3 {
  color: #f15b29;
  text-transform: uppercase;
}

/*block 4*/
.block-4 {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  background-color: white;
  flex-direction: row;
  padding-bottom: 10%;
}

.left1 {
  background-color: white;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 20%;
}
.left1 h1 {
  text-align: left;
  text-transform: capitalize;
}
.arrow1 {
  position: absolute;
  width: 50%;
  height: 10%;

  border: 1px solid #fac4b2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #fac4b2;
}

.arrow1 h3 {
  color: #f15b29;
  text-transform: uppercase;
}

.right1 {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 10px solid white;
  width: 25%;
  height: 60%;
  left: 50%;
  top: 20%;
  box-shadow: 5px 5px 10px 3px whitesmoke;
}
.image3 {
  background-image: url("drink1.jpg");
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image4 {
  background-image: url("drink2.jpg");
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-5{
background-image: url("foodsBg.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.components{
    display: flex;
    position: absolute;
    background-color: white;
    width: 70%;
    height: 75%;
}
.menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu div{
    width: 25%;
    background-color: #E3E3E3;
    border-right: 1px solid #D7D7D7;
}
.menu #fast{
    background-color: white;
}
.menu div h3{
    text-transform: capitalize;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    position: relative;
    height: 50%;
    width: 100%;
    top: 30%;
    padding-bottom: 5px;
    
}
.img{
    width: 25%;
}
.img img{
 height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
.img h3{
    text-align: center;
    text-transform: capitalize;
    color: #f15b29;
    padding-bottom: 5px;
}
.signs{
    color: #f15b29;
    font-size: 70px;
    margin-top: 3%;
}
.block-6{
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.cont{
    width: 60%;
    height: 70%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(153, 148, 148);
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 15px;
    padding-top: 10px;
}
.cont h2,h3{
    text-align: center;
    text-transform: capitalize;
}
.cont h2{
   color: #f15b29;
}

.customers{
    position: absolute;
    
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.line{
    display: flex;
    position: absolute;
    border: 1px solid #F5F5F5;
    height: 80%;
    right: 40%;
    top: 5%;
    
}

.about{
    position: absolute;
    
    justify-items: center;
    align-items: center;
    text-align: center;
    right: 4%;
    width: 30%;
}
.pictures{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: normal;
    margin-left: 25%;
    margin-right: 25%
}
.pictures img{
height: 5%;
}
.sign{
    display: flex;
    margin-top: 60%;
}

.block-7{
    background-image: url("subscribe.jpg");
      height: 300px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .block-7 h2{
        color: white;
    }
    form{
        color: white;
        
    }
    input{
        padding-top: 5px;
        padding-left: 2px;
        padding-bottom: 5px;
        color: white;
        background-color: rgba(255, 255, 255, 0.377);
        border-color: rgba(255, 255, 255, 0.377);
        
    }
    button{
        
        
        padding: 5px;
        width: 150px;
        color: white;
        background: #F15B29;
        border-color: #F15B29;
        right: 30%;
        top: 57%;
        padding-left: 5px;
        text-align: center;
        justify-content: center;
        
      
    }
    footer{
        width: 100%;
        height: 300px;
        background-color: #F15B29;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .whitelogo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        
    }
   
    .whitelogo img{
        height: 50%;
       align-items: center;
    
    }
    footer h1{
        position: absolute;
        color: white;
        display: flex;
        margin-left: 15%;
        margin-top: -10%;
        text-transform: uppercase;
    }
    footer h2{
        text-transform: capitalize;
        color: white;
    }
    footer h3{
        text-transform: capitalize;
        color: white;
    }