body{
    display: flex;
    flex-direction: row;
}
.block-1{
    display: flex;
   
    width: 100%;
    height: 500px;
   
   position: relative;
    
    
}
.landing{
    width: 100%;
    height: 500px;
    
}
 .cover{
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    
    
}
.small-lines{
    
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 3%;
    
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 5%;

}
.one-line{
    border: 2px solid white;
    
}

.logo{
    position: absolute;
    margin-top: 8%;
    margin-left: 40%;
}